<configuration>
	<runtime>
		<assembleBinding
			xmlns="urn:schemas-microsoft-com:asm.v1">
				<dependentAssembly>
					<assemblyIdentity name="calc_new"
									  publicKeyToken="4dbdb23e1ce8273c"
									  culture="neutral" />
					<bindingRedirect oldVersion="0.0.0.0"
									 newVersion="1.0.0.0" />
				</dependentAssembly>
		</assembleBinding>
	</runtime>
</configuration>