@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1 style="color:red">Your Booking has been Cancelled</h1>
    <br />
    <h1>₹@ViewBag.amt will be refunded your original Payment method within 7 Working Days</h1>
    <div>
        <a class="button button2" asp-action="Index" asp-controller="Home" style="margin-right: 20px">Homepage</a>
    </div>
}
